<html>
  <head>
    <title>
      Weather App
    </title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{>header}}
   <p>{{notFoundText}}</p>
    {{>footer}}
  </body>
</html>